@page "/Regions/edit"

@using Microsoft.EntityFrameworkCore
@using R6Ranking.Models
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Region</h4>
<hr />
@if (Region is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Region" OnValidSubmit="UpdateRegion" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Region.RegionID" value="@Region.RegionID" />
                <div class="mb-3">
                    <label for="regionname" class="form-label">RegionName:</label>
                    <InputText id="regionname" @bind-Value="Region.RegionName" class="form-control" />
                    <ValidationMessage For="() => Region.RegionName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdat" class="form-label">CreatedAt:</label>
                    <InputDate id="createdat" @bind-Value="Region.CreatedAt" class="form-control" />
                    <ValidationMessage For="() => Region.CreatedAt" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedat" class="form-label">UpdatedAt:</label>
                    <InputDate id="updatedat" @bind-Value="Region.UpdatedAt" class="form-control" />
                    <ValidationMessage For="() => Region.UpdatedAt" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/regions">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int RegionID { get; set; }

    [SupplyParameterFromForm]
    public Region? Region { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Region ??= await context.Regions.FirstOrDefaultAsync(m => m.RegionID == RegionID);

        if (Region is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateRegion()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Region!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!RegionExists(Region!.RegionID))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/regions");
    }

    bool RegionExists(int regionid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Regions.Any(e => e.RegionID == regionid);
    }
}
