@page "/Matches/edit"

@using Microsoft.EntityFrameworkCore
@using R6Ranking.Models
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Match</h4>
<hr />
@if (Match is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Match" OnValidSubmit="UpdateMatch" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Match.MatchID" value="@Match.MatchID" />
                <div class="mb-3">
                    <label for="matchname" class="form-label">MatchName:</label>
                    <InputText id="matchname" @bind-Value="Match.MatchName" class="form-control" />
                    <ValidationMessage For="() => Match.MatchName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="team1id" class="form-label">Team1ID:</label>
                    <InputNumber id="team1id" @bind-Value="Match.Team1ID" class="form-control" />
                    <ValidationMessage For="() => Match.Team1ID" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="team1score" class="form-label">Team1Score:</label>
                    <InputNumber id="team1score" @bind-Value="Match.Team1Score" class="form-control" />
                    <ValidationMessage For="() => Match.Team1Score" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="team2id" class="form-label">Team2ID:</label>
                    <InputNumber id="team2id" @bind-Value="Match.Team2ID" class="form-control" />
                    <ValidationMessage For="() => Match.Team2ID" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="team2score" class="form-label">Team2Score:</label>
                    <InputNumber id="team2score" @bind-Value="Match.Team2Score" class="form-control" />
                    <ValidationMessage For="() => Match.Team2Score" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="tournamentid" class="form-label">TournamentID:</label>
                    <InputNumber id="tournamentid" @bind-Value="Match.TournamentID" class="form-control" />
                    <ValidationMessage For="() => Match.TournamentID" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="matchdate" class="form-label">MatchDate:</label>
                    <InputDate id="matchdate" @bind-Value="Match.MatchDate" class="form-control" />
                    <ValidationMessage For="() => Match.MatchDate" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/matches">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int MatchID { get; set; }

    [SupplyParameterFromForm]
    public Match? Match { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Match ??= await context.Matches.FirstOrDefaultAsync(m => m.MatchID == MatchID);

        if (Match is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateMatch()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Match!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!MatchExists(Match!.MatchID))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/matches");
    }

    bool MatchExists(int matchid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Matches.Any(e => e.MatchID == matchid);
    }
}
