@page "/maps/create"

@using Microsoft.EntityFrameworkCore
@using R6Ranking.Models
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Map</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Map" OnValidSubmit="AddMap" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="mapname" class="form-label">MapName:</label> 
                <InputText id="mapname" @bind-Value="Map.MapName" class="form-control" /> 
                <ValidationMessage For="() => Map.MapName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="mapphoto" class="form-label">MapPhoto:</label> 
                <InputText id="mapphoto" @bind-Value="Map.MapPhoto" class="form-control" /> 
                <ValidationMessage For="() => Map.MapPhoto" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/maps">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Map Map { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddMap()
    {
        using var context = DbFactory.CreateDbContext();
        context.Map.Add(Map);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/maps");
    }
}
