@page "/matchoperatorbans/create"

@using Microsoft.EntityFrameworkCore
@using R6Ranking.Models
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>MatchOperatorBan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="MatchOperatorBan" OnValidSubmit="AddMatchOperatorBan" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/matchoperatorbans">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public MatchOperatorBan MatchOperatorBan { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddMatchOperatorBan()
    {
        using var context = DbFactory.CreateDbContext();
        context.MatchOperatorBans.Add(MatchOperatorBan);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/matchoperatorbans");
    }
}
