@page "/matchoperatorbans/delete"

@using Microsoft.EntityFrameworkCore
@using R6Ranking.Models
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory
@inject NavigationManager NavigationManager


<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MatchOperatorBan</h4>
    <hr />
    @if (matchoperatorban is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <EditForm method="post" Model="matchoperatorban" OnValidSubmit="DeleteMatchOperatorBan" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(matchoperatorban is null)">Delete</button> |
            <a href="/matchoperatorbans">Back to List</a>
        </EditForm>
    }
</div>

@code {
    MatchOperatorBan? matchoperatorban;

    [SupplyParameterFromQuery]
    public int MatchID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        matchoperatorban = await context.MatchOperatorBans.FirstOrDefaultAsync(m => m.MatchID == MatchID);

        if (matchoperatorban is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteMatchOperatorBan()
    {
        using var context = DbFactory.CreateDbContext();
        context.MatchOperatorBans.Remove(matchoperatorban!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/matchoperatorbans");
    }
}
