@page "/matchoperatorbans/details"

@using Microsoft.EntityFrameworkCore
@using R6Ranking.Models
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>MatchOperatorBan</h4>
    <hr />
    @if (matchoperatorban is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
        </dl>
        <div>
            <a href="@($"/matchoperatorbans/edit?matchid={matchoperatorban.MatchID}")">Edit</a> |
            <a href="@($"/matchoperatorbans")">Back to List</a>
        </div>
    }
</div>

@code {
    MatchOperatorBan? matchoperatorban;

    [SupplyParameterFromQuery]
    public int MatchID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        matchoperatorban = await context.MatchOperatorBans.FirstOrDefaultAsync(m => m.MatchID == MatchID);

        if (matchoperatorban is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
