@page "/matchoperatorbans"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using R6Ranking.Models
@using R6Ranking.Data
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="matchoperatorbans/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.MatchOperatorBans">

    <TemplateColumn Context="matchoperatorban">
        <a href="@($"matchoperatorbans/edit?matchid={matchoperatorban.MatchID}")">Edit</a> |
        <a href="@($"matchoperatorbans/details?matchid={matchoperatorban.MatchID}")">Details</a> |
        <a href="@($"matchoperatorbans/delete?matchid={matchoperatorban.MatchID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    R6EsportsDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
