@page "/players"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using R6Ranking.Models
@using R6Ranking.Data
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="players/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Players">
    <PropertyColumn Property="player => player.PlayerName" />
    <PropertyColumn Property="player => player.Role" />
    <PropertyColumn Property="player => player.PhotoURL" />
    <PropertyColumn Property="player => player.TeamID" />
    <PropertyColumn Property="player => player.DateJoined" />
    <PropertyColumn Property="player => player.DateLeft" />

    <TemplateColumn Context="player">
        <a href="@($"players/edit?playerid={player.PlayerID}")">Edit</a> |
        <a href="@($"players/details?playerid={player.PlayerID}")">Details</a> |
        <a href="@($"players/delete?playerid={player.PlayerID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    R6EsportsDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
