<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="/app.css" />
    <link rel="icon" type="image/png" href="bootstrap/Visuals/r6-logo.png" />

    <link href="_content/Blazor.Flags/flags.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <Routes  />
    <script src="_framework/blazor.web.js"></script>

    <script src="_content/MudBlazor/MudBlazor.min.js"></script>

    <script src="~/_framework/blazor.server.js"></script>
    <script src="js/site.js"></script>

</body>

</html  >
