@page "/teams"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using R6Ranking.Models
@using R6Ranking.Data
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="teams/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Teams">
    <PropertyColumn Property="team => team.TeamName" />
    <PropertyColumn Property="team => team.LogoUrl" />
    <PropertyColumn Property="team => team.RegionID" />
    <PropertyColumn Property="team => team.CurrentElo" />
    <PropertyColumn Property="team => team.CreatedAt" />
    <PropertyColumn Property="team => team.UpdatedAt" />

    <TemplateColumn Context="team">
        <a href="@($"teams/edit?teamid={team.TeamID}")">Edit</a> |
        <a href="@($"teams/details?teamid={team.TeamID}")">Details</a> |
        <a href="@($"teams/delete?teamid={team.TeamID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    R6EsportsDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
