.container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: fit-content();
    gap: 10px;
    padding: 1px;
    border-radius: 10px;
}

.mud-table {
    width: 100%;
    table-layout: auto;
    overflow-x: auto;
}
@media (max-width: 768px) {
    .mud-table {
        font-size: 0.9rem; 
    }

    .mud-table .mud-td,
    .mud-table .mud-th {
        padding: 8px; 
    }
}

.grid-item {
    border-radius: 8px;
    display: grid;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-black--1);
    border: 8px;
    border-color: var(--bs-black--3);
    backdrop-filter: blur(5px);
    transition: border 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}
.grid-item:hover {
    border: 8px;
    border-color: var(--bs-gold---1);
}

.b18x3 {
    grid-column: span 18;
    grid-row: span 3;
    width: 100%;
}
.b8x1 {
    grid-column: span 8;
    grid-row: span 1;
    width: 100%;
}
.b6x4 {
    grid-column: span 6;
    grid-row: span 4;
    width: 100%;
}
.b6x3 {
    grid-column: span 6;
    grid-row: span 3;
}
.b6x1 {
    grid-column: span 6;
    grid-row: span 1;
}
.b4x1 {
    grid-column: span 4;
    grid-row: span 1;
    width: 100%;
}
.b3x1 {
    grid-column: span 3;
    grid-row: span 1;
}
.b1x1 {
    grid-column: span 1;
    grid-row: span 1;
}


.custom-leaderboard-table .row-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.85rem;
}
.custom-leaderboard-table .position {
    font-weight: bold;
}
.custom-leaderboard-table .team-logo {
    width: 25px;
    height: 25px;
}
.custom-leaderboard-table .team-name {
    font-size: 1rem;
    font-weight: bold;
}
.custom-leaderboard-table .elo {
    margin-left: auto;
    font-size: 0.85rem;
    font-weight: bold;
}
.row-container {
    display: flex;
    align-items: center;
    padding: 16px;
    transition: transform 0.4s ease-out;
    cursor: pointer;
    position: relative;
}
    .row-container:hover {
        transform: translateX(-20px);
    }
    .row-container:not(:hover) ~ .row-container {
        transform: translateX(-10px);
    }
    .row-container img {
        width: 60px;
        height: 60px;
        margin-right: 8px;
    }

@keyframes riseFromBottom {
    from {
        transform: translateY(100vh);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.packs_grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: fit-content();
    gap: 10px;
    padding: 1px;
    border-radius: 10px;
}
.pack-grid-item {
    display: flex;
    flex-direction: column; /* Ensures consistent alignment for both packs and cards */
    justify-content: center;
    align-items: center;
    width: 100%;
}
.animate-rise {
    animation: riseFromBottom 10s ease-in-out forwards;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 16px;
    padding: 16px;
}

.player-card {
    max-width: 100%;
    grid-column: span 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.player-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.player-card:hover, .player-card:focus, .player-card:active {
    box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.6);
    transform: translateY(-3px) scale(1.05) rotateX(15deg);
}


.team-card:hover {
    transform: scale(1.02);
}

.team-info {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.mud-avatar {
    border: 1px solid #ccc;
    border-radius: 50%;
}


/* Angular Table */
.mud-table {
    background-color: var(--bs-blue---1);
    color: var(--bs-white--2);
    border: 2px solid var(--bs-blue---1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
    border-radius: 0; /* Removes rounded corners */
}

    .mud-table th, .mud-table td {
        border: 1px solid #555; /* Sharper borders */
        font-size: 1rem;
        padding: 8px 12px;
        text-align: left;
    }

    /* Interactive Rows */
    .mud-table tbody tr:hover {
        background-color: var(--bs-cream--2);
        color: var(--bs-black--2);
        cursor: pointer;
    }


/* Variables for consistent styling */
:root {
    --bs-white--1: #FFFFFF;
    --bs-white--2: #dedbd5;

    --bs-blue---1: #343A40;

    --bs-black--1: #1D1E21; 
    --bs-black--2: #181717;
    --bs-black--3: #0E0D0D;
    --bs-black--4: #000000;

    --bs-gold---1: #fbac40;
    --bs-cream--1: #FFC271;
    --bs-cream--2: #C29B65;

    --bs-red----1: #CC2828;
    --bs-green--1: #2d8656;
    --bs-orange-1: #BD5B05; 
    --bs-body-bg: url(bootstrap/Visuals/bg.jpg);
    font-family: 'Kanit', sans-serif;
    color: var(--bs-white-1);
}

body {
    margin: 0;
    padding: 0;
    background-image: var(--bs-body-bg);
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    font-family: 'Kanit', sans-serif;
}

.logo-img {
    height: 50px;
}

.nav {
    font-size: 1.4rem;
    justify-content: space-around;
}

.nav-link:hover {
    color: var(--bs-gold-1);
    text-decoration: underline;
}

.logo {

    width: 38px; 
    object-fit: cover;
    border-radius: 5px;
}

.navbar-brand {
    font-size: 1.5em; 
    color: white;
    font-weight: bold;
}



