.container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: fit-content();
    gap: 10px;
    padding: 1px;
    border-radius: 10px;
}

.grid-item {
    border-radius: 8px;
    display: grid;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-gray---2);
    border: 8px;
    border-color: var(--bs-black--3);
    backdrop-filter: blur(5px);
    transition: border 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

    .grid-item:hover {
        border: 8px;
        border-color: var(--bs-gold---1);
    }

.b18x3 {
    grid-column: span 18;
    grid-row: span 3;
    width: 100%;
}

.b8x1 {
    grid-column: span 8;
    grid-row: span 1;
    width: 100%;
}

.b6x6 {
    grid-column: span 6;
    grid-row: span 6;
    width: 100%;
}

.b6x4 {
    grid-column: span 6;
    grid-row: span 4;
}

.b6x1 {
    grid-column: span 6;
    grid-row: span 1;
}
.b6x2 {
    grid-column: span 6;
    grid-row: span 2;
}
.b4x1 {
    grid-column: span 4;
    grid-row: span 1;
    width: 100%;
}

.b3x2 {
    grid-column: span 3;
    grid-row: span 2;
}

.b1x1 {
    grid-column: span 1;
    grid-row: span 1;
}


.custom-leaderboard-table .row-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.85rem;
}

.custom-leaderboard-table .position {
    font-weight: bold;
}

.custom-leaderboard-table .team-logo {
    width: 25px;
    height: 25px;
}

.custom-leaderboard-table .team-name {
    font-size: 1rem;
    font-weight: bold;
}

.custom-leaderboard-table .elo {
    margin-left: auto;
    font-size: 0.85rem;
    font-weight: bold;
}

.row-container {
    display: flex;
    align-items: center;
    padding: 16px;
    transition: transform 0.4s ease-out;
    cursor: pointer;
    position: relative;
}

    .row-container:hover {
        transform: translateX(-20px);
    }

    .row-container:not(:hover) ~ .row-container {
        transform: translateX(-10px);
    }

    .row-container img {
        width: 60px;
        height: 60px;
        margin-right: 8px;
    }

@keyframes riseFromBottom {
    from {
        transform: translateY(100vh);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.packs_grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: fit-content();
    gap: 10px;
    padding: 1px;
    border-radius: 10px;
}

.pack-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.animate-rise {
    animation: riseFromBottom 10s ease-in-out forwards;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 16px;
    padding: 16px;
}

.player-card {
    max-width: 100%;
    grid-column: span 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .player-card:hover {
        transform: translateY(-10px) scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .player-card:hover, .player-card:focus, .player-card:active {
        box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.6);
        transform: translateY(-3px) scale(1.05) rotateX(15deg);
    }

@media (max-width: 1024px) {
    .cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
    
}
@media (max-width: 992px) {
    .custom-grid th, .custom-grid td {
        font-size: 14px;
        padding: 8px;
    }
}
@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr); 
    }
    .custom-grid th, .custom-grid td {
        font-size: 12px;
        padding: 6px;
        white-space: normal; 
    }

    .custom-grid {
        font-size: 12px;
    }
}
@media (max-width: 480px) {
    .cards-container {
        grid-template-columns: 1fr;
    }
    
}

.team-card:hover {
    transform: scale(1.02);
}

.team-info {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Color Variables */
:root {
    --bs-white--1: #FFFFFF;
    --bs-white--2: #dedbd5;
    --bs-gray---1: #343A40;
    --bs-gray---2: #40474F;
    --bs-black--1: #1D1E21;
    --bs-black--2: #181717;
    --bs-black--3: #0E0D0D;
    --bs-black--4: #000000;
    --bs-gold---1: #fbac40;
    --bs-cream--1: #FFC271;
    --bs-cream--2: #C29B65;
    --bs-red----1: #CC2828;
    --bs-green--1: #2d8656;
    --bs-green--2: #053838;
    --bs-orange-1: #BD5B05;
    --bs-body-bg: url(Images/CardUI/bg.jpg);
    font-family: 'Kanit', sans-serif;
    color: var(--bs-white-1);
}

body {
    flex: 1;
    margin: 0;
    padding: 0;
    background-image: var(--bs-body-bg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Kanit', sans-serif;
}

.navbar {
    font-size: 1.1rem;
    justify-content: space-around;
    font-family: 'Kanit', sans-serif;
    border-bottom: 3px solid var(--bs-gold---1);
    background-color: var(--bs-black--1);
    color: var(--bs-white--1);
}

.navbar-toggler {
    color: var(--bs-white--1);
    border-color: var(--bs-gold---1);
}

.navbar-toggler-icon {
    background-color: var(--bs-white--1);
}

.nav-link {
    color: var(--bs-white--1);
    font-size: 1.4rem;
    margin-right:4px
}

.nav-link:hover {
    color: var(--bs-gold---1);
    text-decoration: underline;
}

.collapse {
    background-color: var(--bs-black--2);
    border: 1px solid var(--bs-gold---1);
    padding: 1rem;
}

.logo {
    max-height: 40px;
    max-width: auto;
}

.dropdown-item:hover {
    background-color: var(--bs-cream--2);
    color: var(--bs-black--1);
}

.navbar-brand {
    font-size: 1.5rem;
    color: var(--bs-white--1);
}
.footer {
    background-color: var(--bs-black--1);
    border-top: 3px solid var(--bs-gold---1);
    color: var(--bs-white--1);
    margin-top: auto;
}
.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.nav-link:focus,
.nav-link:active {
    color: var(--bs-white--2);
    outline: none; 
}

