@page "/operatorbans"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using R6Ranking.Models
@using R6Ranking.Data
@implements IAsyncDisposable
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="operatorbans/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.OperatorBans">
    <PropertyColumn Property="operatorban => operatorban.OperatorName" />
    <PropertyColumn Property="operatorban => operatorban.OperatorLogo" />
    <PropertyColumn Property="operatorban => operatorban.OperatorSide" />

    <TemplateColumn Context="operatorban">
        <a href="@($"operatorbans/edit?operatorbanid={operatorban.OperatorBanID}")">Edit</a> |
        <a href="@($"operatorbans/details?operatorbanid={operatorban.OperatorBanID}")">Details</a> |
        <a href="@($"operatorbans/delete?operatorbanid={operatorban.OperatorBanID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private R6EsportsDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
